assignment1/ilqr/__pycache__
assignment1/policy_iteration/__pycache__
assignment1/policy_iteration/__pycache__
assignment1/latex.synctex.gz
assignment1/1887793.synctex.gz
assignment2/assignment2/sarsa_lambda/__pycache__/student.cpython-311.pyc
assignment2/assignment2/sarsa_lambda/__pycache__/student.cpython-39.pyc
